<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/scripts/Sortable/Sortable.js"></script>
    <script src="../static/scripts/branch.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/basic.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-4 align-items-start">
        <div class="card">
        <img class="card-img-top" src="../static/images/helicopyet.jpg" alt="Card image cap">
        <div class="card-body">
            <h1>Branching Generator</h1>
            <p>Fill out the admin data below, then arrange the branches to the right to your liking.</p>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">First name</label>
                    <input  class="form-control" id="txtFirst"
                           placeholder="Aubrey">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Last name</label>
                    <input  class="form-control" id="txtLast"
                           placeholder="Smith">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="txtEmail"
                           placeholder="name@westpoint.edu">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Company</label>
                    <select class="form-control" id="lstCompany">
                        {% for company in companies %}
                        <option>{{ company }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        </div>
        </div>
        <div class="col-6" id="branchListContainer">
            <div>
                <div id="branchList" class="list-group">
                    {% for id, def in branches.items() %}
                        <div id="select{{ id }}" data-id="{{ id }}" class="branchItem list-group-item">
                            <div class="row">
                                <div class="col-7">
                                    <p class="branchTitle">{{ def['name'] }}</p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitch{{ id }}" onclick="addBRADSO('{{ id }}')">
                                        <label class="form-check-label" for="flexSwitch{{ id }}">BRADSO </label>
                                    </div>
                                </div>
                                <div class="col-5 branchDetail">
                                    {% if def['detail']|length > 0 %}
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownBranchdetail{{ id }}" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Branch Detail
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownBranchdetail{{ id }}">
                                                {% for item in def['detail'] %}
                                                    <li id="branchDetail{{ id }}{{ item }}"
                                                        onclick="makeBranchDetail(this,'{{ id }}','{{ item }}')"><a
                                                            class="dropdown-item" href="#">{{ item }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="col-2 p-4">
        <button type="button" class="btn mb-2 btn-secondary w-100 btn-lg">Reset</button>
        <button type="button" class="btn mb-2 btn-primary w-100 btn-lg">Download</button>
    </div>
    </div>
</div>


<script>
    // Simple list
    var branchselection = Sortable.create(branchList, { /* options */});
</script>


</body>
</html>